/*
    ===== RESET =====
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}
body{
    height: 100%;
    font-weight: 300;
    background-image: url('../images/bg-pattern.jpg');
}
.all {
   min-height:100%;
   position:relative;
}
header {
   padding:10px;
   height: 80px;
}
.wrapper {
   padding: 20px 30px 320px;
   background-color: rgba(255,255,255,.6);
}
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 240px;   /* Height of the footer */
   border-top: 1px solid #ccc;
   background: #F4F4F4;
}

/*
    ==== AUXILIARES =====
 */
.relative{
    position: relative;
}
.pd-top-sm{
    padding-top: 20px;
}
.mg-top-sm{
    margin-top: 20px;
}
.mg-sm{
    margin: 10px 0;
}

/*
    ===== MENU =====
 */
.navbar{
    height: 80px;
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.2);
}
.nav{
    display: inline-flex;
}
.navbar li > a{
    line-height: 50px;
}
.navbar li > input{
    margin-top: 23px;
}
.separator{
    height: 40px;
    margin-top: 20px;
    border-right: 1px solid #CCCED0;
}
.separator:last-of-type{
    margin-right: 20px;
}
.dropdown-menu li > a {
    line-height: 20px;
}

/*
    ===== BACKGROUND HEADER =====
 */
.bg-header{
    height: 200px;
    background-image: url('../images/background-header.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.phone-header{
    position: absolute;
    left: 23px;
    padding: 7px 20px;
    background: rgba(255,255,255,0.76);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

/*
    ===== BOX LEFT =====
 */
.box-mercado{
    text-align: center;
    color: white;
    padding: 6px;
    background-color: #736D6C;
}
.box-mercado > p:nth-of-type(1){
    margin: 10px 0 0 0;
    font-size: 11px;
}
.menu-list{
    margin-top: 20px;
    border-top: 1px solid #66686A;
}
.menu-list > ul{
    margin: 0;
    padding: 0;
}
.menu-list > ul > li{
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #66686A;
}
.menu-list > ul > li > a{
    color: #7A7C7E;
    text-decoration: none;
}
.parceiros{
    margin-top: 20px;
}
.parceiros h2{
    color: #7A7C7E;
    font-size: 14px;
    border-bottom: 1px solid #66686A;
}
.parceiros-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.img-parceiros{
    border: 1px solid #C4C6C8;
    margin-bottom: 10px;
}

/*
    ===== FOOTER ====
 */
.list-contato{
    margin: 0;
    padding: 0;
}
.list-contato li{
    padding: 10px 40px 10px 30px;
    line-height: 30px;
    list-style: none;
}
.icon-marker{
    background: url(../images/icon-marker.png) 0px 13px no-repeat;
}
.icon-phone{
    background: url(../images/icon-phone.png) 0px 13px no-repeat;
}
.icon-mail{
    background: url(../images/icon-mail.png) 0px 13px no-repeat;
}

.list-social{
    margin: 0;
    padding: 0;
}
.list-social li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.icon-social{
    width: 38px;
    height: 38px;
    color: #666;
    display: block;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    text-align: center;
    border: 1px solid #e7e7e7;
}
.icon-social i{
    line-height: 35px;
    font-size: 18px;
}
.icon-facebook:hover{
    color: white;
    border-color: #3a5795;
    background-color: #3a5795;
}
.icon-instagram:hover{
    color: white;
    border-color: #517FA6;
    background-color: #517FA6;
}
.icon-twitter:hover{
    color: white;
    border-color: #55ACEE;
    background-color: #55ACEE;
}
.icon-google-plus:hover{
    color: white;
    border-color: #DD4B39;
    background-color: #DD4B39;
}
.content-face{
    width: 298px;
    height: 140px;
    overflow: hidden;
    margin-top: 20px;
}
.content-face .fb_iframe_widget{
    margin-top: -35px;
    margin-left: -1px;
}

/*
    ===== LOGIN =====
 */
.login-container{
    position: relative;
    width: 300px;
    margin: 0px 200px;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;

    /* styles for overlay */
    z-index: 9999;
    outline: 9999px solid rgba(0,0,0,0.5);
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}

.btn-close{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn-close:hover{
    text-decoration: none;
}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*
    ===== HOME =====
 */
.content-agenda{
    margin-top: 30px;
    position: relative;
}
.content-agenda > h1 {
    padding-left: 20px;
    font-size: 30px;
}
.content-agenda > h1:after {
    border-top: 1px solid black;
    display: block;
    height: 1px;
    content: " ";
    width: 83%;
    position: absolute;
    right: 15px;
    left: auto;
    top: 37px;
}
.box-agenda{
    position: relative;
    background-color: white;
    margin-bottom: 25px;
    padding: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border: 1px solid #DBDCDE;
}
.flex-img{
    width: 390px;
}
.flex-txt{
    padding-left: 40px;
}
.flex-txt > h3{
    color: #535456;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}
.btn-saibamais{
    position: absolute;
    bottom: 15px;
    right: -10px;
    color: white;
    letter-spacing: 1px;
    padding: 5px 35px 5px 30px;
    background-color: #6E6459;
}
.btn-saibamais:hover{
    color: white;
    text-decoration: none;
}
.btn-saibamais:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    position: absolute;
    right: -15px;
    top: 30px;

    border-right: 5px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #554D44;

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*
    ===== GARANHÕES =====
 */
.thumbnail{
    padding: 0;
    border-color: #e7e7e7;
}
.thumbnail:hover{
    border-color: #ccc;
}
.caption h3{
    color: #444;
}
.caption p{
    color: #999;
}
.txt-price{
    color: #f60;
    font-size: 20px;
}

/*
    ===== LEILÕES =====
 */
.txt-regulamento{
    color: #f60;
    position: absolute;
    bottom: 18px;
    right: 143px;
}
.txt-regulamento:hover{
    color: #f60;
}

.header-leilao{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 5px;
    margin-bottom: 30px;
}
.table-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-information > tbody > tr:first-child {
    border-top: 0;
}
.table-information > tbody > tr >td:first-child {
    width: 170px;
}
.table-information > tbody > tr > td {
    border-top: 0;
}
.view{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-horse{
    display: block;
}
.overlay-horse:hover .view{
    opacity: 1;
}
.current-status {
    position: absolute;
    top: 15px;
    right: -3px;
}
.current-status > div {
    right: 0px;
    padding: 5px 10px 5px 5px;
    background-color: rgb(245, 245, 245);
}
.current-status > div::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgb(66, 127, 237);
}
.current-status > div.winner::after {
    border-right: 3px solid #5CB85C;
}
.current-status > div.looser::after {
    border-right: 3px solid #D9534F;
}


/*
    ===== INFO =====
 */

/*social buttons*/
.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
    opacity:1;
}
.btn-facebook {
background-color: #3b5998;
opacity:0.9;
}
.btn-twitter {
background-color: #00aced;
opacity:0.9;
}
.btn-linkedin {
background-color:#0e76a8;
opacity:0.9;
}
.btn-github{
  background-color:#000000;
  opacity:0.9;
}
.btn-google {
  background-color: #c32f10;
  opacity: 0.9;
}
.btn-stackoverflow{
  background-color: #D38B28;
  opacity: 0.9;
}

/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}
.resume-heading .social-btns i.fa{
  margin-left:-5px;
}



@media (max-width: 992px) {
  .resume-heading .social-btn-holder{
    padding:5px;
  }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.progress-bar > .progress-type {
    padding-left: 10px;
}

.progress-meter {
    min-height: 15px;
    border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.progress-meter > .meter {
    position: relative;
    float: left;
    min-height: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
    border-left-width: 2px;
}

.progress-meter > .meter-right {
    float: right;
    border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
    border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    width: 100%;
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(160, 160, 160);
    text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
    text-align: right;
}

/* lances leilão */
.box-value-leilao{
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.box-value-leilao-float{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.box-value-leilao p, .box-value-leilao-float p{
    margin: 0;
}
.txt-price-leilao{
    position: absolute;
    top: 0;
    right: 15px;
    color: #f60;
    font-size: 30px;
}
.txt-price-leilao-float{
    color: #f60;
    font-size: 30px;
}
.list-info-leilao{
    margin: 20px 0 0;
}
.list-info-leilao li{
    font-size: 12px;
    padding: 3px 15px;
}

/* slide image/video */
.btn-group .glyphicon { margin-right:5px; }
.slider-show{ display: block;}
.slider-hide{ display: none;}

/* countdown */
.is-countdown {
    border: 0;
    background-color: transparent;
}

/* slider */
/* Main carousel style */
.carousel-resume {
    width: 700px;
}

#video-slider{
    height: 470px;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

/* árvore */
#arvore_origem {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
#arvore_origem ul{
    padding: 0;
}
.pais {
    display: table;
    width: 100%;
}
.pais > li {
    display: table-row;
    margin: 0 0 1px;
}
.pais > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 20px;
    line-height: 20px;
}
.avos, .bisavos, .tataravos {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.avos > li, .bisavos > li {
    display: table;
    width: 100%;
}
.avos > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 33.1%;
    height: 20px;
    line-height: 20px;
}
.bisavos > li > div{
    background-color: #FFFFFF;
    border: 1px solid #E9EBED;
    display: table-cell;
    width: 49.8%;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}

/* leilão flato */
.leilao-float{
    position: fixed;
    right: -240px;
    top: 100px;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.46);
    transition: right 0.5s ease;
}
.show-float{
    right: 0;
}
.hide-float{
    right: -200px;
}
.btn-float{
    position: absolute;
    top: 0;
    left: -28px;
    outline: 0;
}
.btn-float-right{
    color: #999999;
    background-color: #e7e7e7;
    border: 1px solid #ccc;
}
.btn-float-left{
    color: white;
    background-color: #00ADEF;
    border: 1px solid #0093CB;
}