<div class="col-md-6">
    <label class="radio-inline">
        <input type="radio" name="tipopessoa" id="fisica" value="fisica" checked> Pessoa Física
    </label>
    <label class="radio-inline">
        <input type="radio" name="tipopessoa" id="juridica" value="juridica" > Pessoa Jurídica
    </label>
</div>
<form class="form-horizontal" name="formcadastro">
    <div class="col-sm-12" style="background-color: #fafafa; padding: 10px 60px; margin: 5px 0 10px; font-weight: bold;"> Informações Pessoais </div>
    <div class="form-group fisica">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" name="info_nome" class="form-control" placeholder="Nome">
        </div>
    </div>
    <div class="form-group fisica">
        <label class="col-sm-2 control-label">CPF</label>
        <div class="col-sm-10">
            <input type="text" name="info_cpf" class="form-control cpf" placeholder="CPF">
        </div>
    </div>
    <div class="form-group juridica" style="display: none;">
        <label class="col-sm-2 control-label">Razão social</label>
        <div class="col-sm-10">
            <input type="text" name="info_razao" class="form-control" placeholder="Razão social">
        </div>
    </div>
    <div class="form-group juridica" style="display: none;">
        <label class="col-sm-2 control-label">CNPJ</label>
        <div class="col-sm-10">
            <input type="text" name="info_cnpj" class="form-control cnpj" placeholder="CNPJ">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Endereço</label>
        <div class="col-sm-10">
            <input type="text" name="info_endereco" class="form-control" placeholder="Endereço" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Número</label>
        <div class="col-sm-10">
            <input type="text" name="info_numero" class="form-control" placeholder="Número" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Complemento</label>
        <div class="col-sm-10">
            <input type="text" name="info_complemento" class="form-control" placeholder="Complemento">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Bairro</label>
        <div class="col-sm-10">
            <input type="text" name="info_bairro" class="form-control" placeholder="Bairro" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">CEP</label>
        <div class="col-sm-10">
            <input type="text" name="info_cep" class="form-control cep" placeholder="CEP" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Cidade</label>
        <div class="col-sm-10">
            <input type="text" name="info_cidade" class="form-control" placeholder="Cidade" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Estado</label>
        <div class="col-sm-10">
            <input type="text" name="info_estado" class="form-control" placeholder="Estado" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email 1</label>
        <div class="col-sm-10">
            <input type="email" name="info_email1" class="form-control" placeholder="Email 1" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email 2</label>
        <div class="col-sm-10">
            <input type="email" name="info_email2" class="form-control" placeholder="Email 2">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefone residencial</label>
        <div class="col-sm-10">
            <input type="text" name="info_telresidencial" class="form-control phone_with_ddd" placeholder="Telefone residencial" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefone comercial</label>
        <div class="col-sm-10">
            <input type="text" name="info_telcomercial" class="form-control phone_with_ddd" placeholder="Telefone comercial">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Celular</label>
        <div class="col-sm-10">
            <input type="text" name="info_celular" class="form-control sp_celphones" placeholder="Celular">
        </div>
    </div>
    <div class="col-sm-12" style="  background-color: #fafafa; padding: 10px 60px; margin: 5px 0 10px; font-weight: bold;"> Informações da Propriedade </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_nome" class="form-control" placeholder="Nome" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_telefone" class="form-control phone_with_ddd" placeholder="Telefone" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Contato</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_contato" class="form-control" placeholder="Contato" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">I.E.</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_ie" class="form-control" placeholder="I.E." required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Código da emp. (emissão de GTA)</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_gta" class="form-control" placeholder="Código da emp.  (emissão de GTA)" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Endereço</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_endereco" class="form-control" placeholder="Endereço" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Número</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_numero" class="form-control" placeholder="Número" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Complemento</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_complemento" class="form-control" placeholder="Complemento">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Bairro</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_bairro" class="form-control" placeholder="Bairro" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">CEP</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_cep" class="form-control cep" placeholder="CEP" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Cidade</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_cidade" class="form-control" placeholder="Cidade" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Estado</label>
        <div class="col-sm-10">
            <input type="text" name="propriedade_estado" class="form-control" placeholder="Estado" required>
        </div>
    </div>
    <div class="col-sm-12" style="  background-color: #fafafa; padding: 10px 60px; margin: 5px 0 10px; font-weight: bold;"> Preferências Comerciais </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" name="prefcomercial_nome" class="form-control" placeholder="Nome" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefone</label>
        <div class="col-sm-10">
            <input type="text" name="prefcomercial_telefone" class="form-control phone_with_ddd" placeholder="Telefone" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" name="prefcomercial_email" class="form-control" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Comentários</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="prefcomercial_comentario" rows="3" placeholder="Comentários"> </textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
    </div>
</form>

<script type="text/javascript" defer>

    var formCadastre = (function() {

        'use strict';

        var formCadastre = {
                init: init
            },
            SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };


        function init() {
            // set masks
            $('.cep').mask('00000-000');
            $('.phone_with_ddd').mask('(00) 0000-0000');
            $('.cpf').mask('000.000.000-00', {reverse: true});
            $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('.sp_celphones').mask(SPMaskBehavior, spOptions);

            // change type person
            $('#fisica, #juridica').click(function(){

                if(this.value == "fisica"){
                    $(".fisica").show();
                    $(".juridica").hide();
                } else if(this.value == "juridica"){
                    $(".fisica").hide();
                    $(".juridica").show();
                }
            });

            // submit
            $("form").submit( function(event) {
                event.preventDefault();
                checkAndSubmit();
            });

        }

        function checkAndSubmit() {

            $.post('http://www.criarleiloes.com.br/app/cadastro.php', $('form').serialize(), function(data){

               console.log(data);
               // if (data.status == '200') location.reload();
               // else alert('Erro ao enviar formulário!');
            });
        }

        return formCadastre;
    }());

    formCadastre.init();
</script>